

.object-response{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  color: ghostwhite;

  .organiza{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    padding-left: 32rem;
    padding-right: 32rem;

    @media (max-width: 1024px) {
      font-size: 1rem;
      width: 75%;
      padding: 0;
    }

    @media (max-width: 900px) {
      font-size: 1rem;
      width: 75%;
      padding: 0;
    }

    @media (max-width: 600px) {
      font-size: 1rem;
      width: 75%;
      padding: 0;
    }

    .organiza ul, li {
      list-style: none;
    }



  }



}
